<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">

    <div th:if="${not #lists.isEmpty(page)}">
    <h2>Product List</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Project</th>
        </tr>
        <tr th:each="project : ${page.content}">
            <td th:text="${project.id}"><a href="/product/${project.id}">Id</a></td>
            <td><a th:href="@{/project(pid=${project.id})}" th:text="${project.name}">name</a></td>
        </tr>
    </table>

</div>



    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:classappend="${page.first}?'disabled':''">
                <a class="page-link" th:href="@{/projects(page=${page.number - 1})}">Previous</a>
            </li>

            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>


            <li th:each='items : ${page.totalPages}'>
                <a class="page-link" href="#" th:text="${item}"></a>
            </li>

            <li class="page-item" th:classappend="${page.last}?'disabled':''">
                <a class="page-link" th:href="@{/projects(page=${page.number + 1})}">Next</a>
            </li>


        </ul>
    </nav>





<div th:text="${page.first}?'first page':'not first page'"></div>



    </div>
</body>
</html>



<!-- Pagination Bar -->
<!--<div th:fragment='paginationbar'>-->
    <!--<div>-->
        <!--<ul class='pagination pagination-centered'>-->
            <!--<li th:class="${page.firstPage}?'disabled':''">-->
                <!--<span th:if='${page.firstPage}'>← First</span>-->
                <!--<a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a>-->
            <!--</li>-->
            <!--<li th:class="${page.hasPreviousPage}? '' : 'disabled'">-->
                <!--<span th:if='${not page.hasPreviousPage}'>«</span>-->
                <!--<a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>-->
            <!--</li>-->
            <!--<li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">-->
                <!--<span th:if='${item.current}' th:text='${item.number}'>1</span>-->
                <!--<a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>-->
            <!--</li>-->
            <!--<li th:class="${page.hasNextPage}? '' : 'disabled'">-->
                <!--<span th:if='${not page.hasNextPage}'>»</span>-->
                <!--<a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>-->
            <!--</li>-->
            <!--<li th:class="${page.lastPage}? 'disabled' : ''">-->
                <!--<span th:if='${page.lastPage}'>Last →</span>-->
                <!--<a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->